notebooks/*
!notebooks/interesting_examples.ipynb
!notebooks/math.ipynb
!notebooks/set_notebook.py

# If a file is in a subdir, an exception needs to be added for the subdir,
# and then another exception needs to be added for the file.
!notebooks/algebra
notebooks/algebra/*
!notebooks/algebra/absolute-values.ipynb
!notebooks/algebra/factoring-equations.ipynb
!notebooks/algebra/radical-equations.ipynb
!notebooks/algebra/solving-cubic-equations.ipynb

.ipynb_checkpoints
__pycache__/
