[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
nbval = "*"
pytest-xdist = "*"
pre-commit = "*"
    
[packages]
jupyterlab = "*"
matplotlib = "*"
sympy = "*"

[requires]
python_version = "3.7"
